/* ===== Reset & base ===== */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #020617;
    color: #e5e7eb;
}

/* Header & Logo */
.header {
    text-align: center;
    padding: 1rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.logo svg {
    width: 64px;
    height: 64px;
}

.logo h1 {
    margin: 0;
    font-size: 1.6rem;
}

/* Navigation */
.top-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    background-color: #020617;
}

.top-nav.menu {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem;
    overflow-x: auto;
}

.nav-btn {
    flex: 1;
    padding: 0.6rem 0.9rem;
    border-radius: 999px;
    border: none;
    background: #111827;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.nav-btn.active {
    background: #dc2626;
}

/* Filters */
.filters {
    position: sticky;
    top: 50px;
    z-index: 999;
    display: flex;
    gap: 0.5rem;
    padding: 0.6rem;
    overflow-x: auto;
    background-color: #020617;
}

.filters button {
    flex: 1;
    padding: 0.6rem 0.9rem;
    border-radius: 999px;
    border: none;
    background: #111827;
    color: #fff;
    cursor: pointer;
}

.filters button.active {
    background: #dc2626;
}

/* Cards grid */
.pageContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

/* Cards */
.card {
    background: #111827;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
    padding: 16px;
}

.card.empty {
    background: #020617;
    box-shadow: none;
}

.card .image-container {
    width: 100%;
    height: 200px;
    margin-top: 20px
}

.card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .image-container-details {
    width: 100%;
    height: 300px;
    margin-top: 20px
}

.card .image-container-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card h1,
.card h2 {
    margin: 0.8rem 1rem 0.2rem;
}

.ingredients,
.content {
    margin: 0 1rem 0.8rem;
    color: #9ca3af;
    font-size: 0.95rem;
}

/* Buttons */
.btn {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0.65rem; 
    text-align: center;
    background: #dc2626;
    color: #fff;
    border-radius: 999px;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}


/* Footer */
.footer {
    text-align: center;
    padding: 1.5rem;
    font-size: 0.85rem;
    color: #9ca3af;
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

.footer a:hover {
    opacity: 0.8;
}

/* Desktop */
@media (min-width: 768px) {
    .pageContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}